/* * * * * * * * * * * * * * *\
 *    Admin Dashboard        *
 *                           *
 *    By: Fabio Aurora       *
 * fabioauroradev@gmail.com  *
 *                           *
 *    Assignment for:        *
 *    The Odin Project       *
 *    theOdinProject.com     *
\* * * * * * * * * * * * * * */

/******************\
 * imported fonts *
\******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*************\
 * CSS Reset *
\*************/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}



/****************\
 * Root element *
\****************/
:root {
    /* colors */
    --primary-clr: #0f172a;
    --secondary-clr: #1e293b; /*#27293D */
    --primary-text-clr: #e2e8f0;
    --secondary-text-clr: #9ca3af; /* #6c757d */

    /* typography */
    --font-family-sans-serif: 'Roboto', sans-serif;
    --font-thin: 100,
    --font-light: 300,
    --font-regular: 400,
    --font-medium: 500,
    --font-bold: 700,

}


/**********\
 * Base CSS *
\**********/

body {
    background-color: var(--primary-clr);
    color: var(--primary-text-clr);
    min-height: 100vh;
    font-family: var(--font-family-sans-serif);
}


/**********\
 * Layout *
\**********/
.container {
    display: grid;
    grid-template-columns: repeat(2, 120px) repeat(10, 1fr);
    grid-template-rows: 100px  4fr 100px;
    min-height: 100vh;
    padding-left: 1rem;
}

.header, 
.main,
.sidebar,
.footer {
    border: 1px solid var(--primary-text-clr);
}

.header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 100px) repeat(10, 1fr);
}

.main,
.footer {
    grid-column: 3 / -1;
}

.sidebar {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background-color: var(--secondary-clr);
    margin-bottom: .5rem;
}

