/* * * * * * * * * * * * * * *\
 *    Admin Dashboard        *
 *                           *
 *    By: Fabio Aurora       *
 * fabioauroradev@gmail.com  *
 *                           *
 *    Assignment for:        *
 *    The Odin Project       *
 *    theodinproject.com     *
\* * * * * * * * * * * * * * */

/*********\
 * Reset *
\*********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********\
 * base *
\*********/




.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.header {
    background-color: aqua;
    grid-column: 2 / -1;
}

.main {
    background-color: blueviolet;
}

.sidebar {
    background-color: brown;
    grid-row: 1 / 3;
}

.footer {
    background-color: black;
    grid-column: 1 / -1;
}